<h1 class="text-center">Booking Details</h1>
<div class="container">
    <a href="/booking/create" class="btn btn-primary">+ Book Now</a>
    <table  class="table table-success table-striped-columns">
        <tr>
            <th>booking_id</th>
            <th>choose_your_cab</th>
            {{!-- <th>cab_id</th>
            <th>id</th>
            <th>driver_id</th> --}}
            <th>date_of_booking</th>
            <th>date_of_travel</th>
            <th>number_of_passengers</th>
            <th>pick_up-time</th>
            <th>pick_up_location</th>
            <th>drop_off_location</th>
            <th>Edit/Delete</th>
            
          
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.booking_id}}</td>
            <td>{{this.dataValues.choose_your_cab}}</td>
            {{!-- <td>{{this.dataValues.cab_id}}</td>
            <td>{{this.dataValues.id}}</td>
             <td>{{this.dataValues.driver_id}}</td> --}}
             <td>{{this.dataValues.date_of_booking}}</td>
            <td>{{this.dataValues.date_of_travel}}</td>
            <td>{{this.dataValues.number_of_passengers}}</td>
            <td>{{this.dataValues.pick_up_time}}</td>
            <td>{{this.dataValues.pick_up_location}}</td>
            <td>{{this.dataValues.drop_off_location}}</td>
            
            <td>
                <a href="/booking/update/{{this.dataValues.booking_id}}">Edit</a> |
                <a href="/booking/delete/{{this.dataValues.booking_id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>