<h1 class="text-center">Payment Details</h1>
<div class="container">
    <a href="/payment/create" class="btn btn-primary">+ New customer</a>
    <table class="table table-success table-striped-columns">
        <tr>
            <th>pick_up_location</th>
            <th>drop_off_location</th>
            <th>cost</th>
            
            
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.pick_up_location}}</td>
            <td>{{this.dataValues.drop_off_location}}</td>
            <td>{{this.dataValues.cost}}</td>
           
            
            <td>
                <a href="/payment/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/payment/delete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
